.blue-card-header {
    background-color: orangered;
}

.yellow-card-header {
    background-color: yellow;
}

.green-card-header {
    background-color: lawngreen;
}

.blue-card-header {
    background-color: cornflowerblue;
}